<!DOCTYPE html>
<html lang="en">
<%include ./template/head.ejs%>

<body>
<%include ./template/navbar.ejs%>
<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>About Us</h1>
            <p>Thuận theo tự nhiên, là một loại hạnh phúc!

                Có một kẻ lang thang, đi vào chùa, thấy Bồ Tát ngồi trên Đài Sen nhận cúng bái của mọi người, anh ta vô cùng ngưỡng
                mộ.

                Kẻ lang thang nói: “Tôi có thể đổi chỗ ngồi với Người một lát không?”

                Bồ Tát trả lời: “Chỉ cần anh không mở miệng.”

                Kẻ lang thang ngồi lên Đài Sen. Trước mắt của anh là cả ngày hỗn loạn ầm ĩ, người đến phần lớn là cầu điều này điều
                kia. Anh vẫn cố gắng chịu đựng trước sau không mở miệng.

                Một ngày, một phú ông đến. Phú ông: “Cầu Bồ Tát ban cho con một đức tính tốt.” Nói xong ông dập đầu, đứng dậy, ví
                tiền lại bị rớt xuống mặt đất. Kẻ lang thang vừa muốn mở miệng nhắc nhở, nhưng kịp nhớ đến điều kiện của Bồ Tát.

                Sau khi phú ông đi ra, thì có một người nghèo bước vào. Người nghèo nói: “Cầu Bồ Tát ban cho con ít tiền. Người nhà
                con lâm bệnh nặng, đang rất cần tiền ạ.” Cầu xong ông dập đầu, đứng dậy, nhìn thấy một túi tiền rơi trên mặt đất.
                Người nghèo thốt lên: “Bồ Tát quả thật hiển linh rồi.” Ông cầm túi tiền ra đi. Kẻ lang thang muốn mở miệng nói không
                phải hiển linh, đó là đồ người ta đánh rơi, nhưng anh lại nhớ đến điều kiện của Bồ Tát.

                Lúc này, một người ngư dân đi vào. Ngư dân cầu xin: “Cầu Bồ Tát ban cho con bình an, ra biển không gặp sóng gió.”
                Đoạn dập đầu, đứng dậy, ông vừa muốn đi, lại bị phú ông túm chặt. Vì túi tiền, hai người đánh nhau túi bụi. Phú ông
                cho rằng người ngư dân đã lấy túi tiền, mà ngư dân thì cảm thấy bị oan uổng không cách nào chịu đựng nổi. Kẻ lang
                thang không thể nhịn được nữa, anh ta liền hô to: “Dừng tay!” Rồi đem chân tướng nói ra cho họ. Tranh chấp nhờ đó mà
                đã yên.

                Lúc này Bồ Tát mới nói: “Ngươi cảm thấy làm vậy là đúng chăng? Ngươi hãy tiếp tục đi làm kẻ lang thang đi! Ngươi mở
                miệng tự cho mình rất công bằng, nhưng, người nghèo vì vậy mà không có tiền cứu chữa người thân; người giàu không có
                cơ hội tu đức hạnh; người ngư dân ra biển gặp sóng gió chôn thân dưới đáy biển. Nếu ngươi không mở miệng, mạng sống
                người nhà kẻ nghèo kia được cứu; người giàu tốn chút tiền nhưng giúp người khác mà tích được đức; ngư dân cũng vì
                dây dưa không cách nào lên thuyền, tránh được mưa gió, có thể còn sống sót.”

                Kẻ lang thang im lặng ra khỏi chùa…

                Rất nhiều sự tình, nó thế nào, chính là như thế đó. Để nó tiến triển theo tự nhiên, kết quả sẽ tốt hơn. Khi đối mặt
                với sự việc, ai có thể biết rõ kết quả gì sẽ xảy ra chứ?

                Yên lặng theo dõi diễn biến, chính là một loại năng lực!
                ST
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>About Us</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui.</p>
                <a href="#" class="btn btn-default">View details »</a>
            </div>
            <div class="col-md-4">
                <h2>Service</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui.</p>
                <a href="#" class="btn btn-default">View details »</a>
            </div>
            <div class="col-md-4">
                <h2>About Us</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui.</p>
                <a href="#" class="btn btn-default">View details »</a>
            </div>
        </div>
    </div>

</div> <!-- /container -->

<%include ./template/footer.ejs%>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/javascripts/bootstrap.js"></script>
</body>
</html>